[req]
default_bits       = 4096
prompt             = no
default_md         = sha256
distinguished_name = dn
req_extensions     = req_ext

[dn]
C  = RU
ST = State
L  = City
O  = Organization
OU = Department
CN = ${CSR_CN}  # основное имя (может быть домен или IP)

[req_ext]
subjectAltName = @alt_names

[alt_names]
IP.1 = ${CSR_IP}        # IP-адрес
